body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

strong {
    font-weight: 700;
}

.container {
    display: flex;
    align-items: stretch;
    min-height: calc(100vh);
}

#code-editor, code {
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    outline: none;
    width: 100%;
    min-height: 100%;
    padding: 0;
    display: block;
    background: transparent;
    border: 0;
    color: white;
    resize: none;
}

.preview {
    margin: 20px;
}

.debug .preview {
    border: 1px solid lightgray;
}

.debug .preview * {
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;
}

.debug .preview *:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.debug .preview p {
    margin: 0;
    padding: 1em 0;
}

.debug .preview ul {
    margin: 0;
    padding: 1em 0 1em 40px ;
}

.debug .preview h1,
.debug .preview h2,
.debug .preview h3,
.debug .preview h4,
.debug .preview h5,
.debug .preview h6 {
    margin: 0;
    padding: 0.67em 0;
}

.editor {
    background-color: #312b2e;
    color: white;
    padding: 20px;
}

.editor,
.preview {
    flex: 1;
    min-height: 100%;
}

.toolbar {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.taskSuccess {
    position: absolute;
    top: 10vh;
    right: 5vw;
    width: 40vw;
    height: 300px;
    background-image: url('https://i.pinimg.com/originals/67/69/f0/6769f08ac32e95eb576fddc6b737c848.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#validation-status {
    position: absolute;
    bottom: 50px;
    left: 10px;
    color: white;
}
